@import "tailwindcss";
@tailwind utilities;

@theme{
    /*base colors*/
    --color-kingfisher-daisy-50: #f5f3ff;
    --color-kingfisher-daisy-100: #ece8ff;
    --color-kingfisher-daisy-200: #dbd5ff;
    --color-kingfisher-daisy-300: #c1b3ff;
    --color-kingfisher-daisy-400: #a288fd;
    --color-kingfisher-daisy-500: #8558fa;
    --color-kingfisher-daisy-600: #7536f1;
    --color-kingfisher-daisy-700: #6724dd;
    --color-kingfisher-daisy-800: #551dba;
    --color-kingfisher-daisy-900: #42188c;
    --color-kingfisher-daisy-950: #2b0e67;

    /*secondary colors*/
    --color-chrome-white-50: #f6f9ec;
    --color-chrome-white-100: #ebf2d5;
    --color-chrome-white-200: #d8e6b0;
    --color-chrome-white-300: #bdd581;
    --color-chrome-white-400: #a3c259;
    --color-chrome-white-500: #85a73b;
    --color-chrome-white-600: #67842c;
    --color-chrome-white-700: #506625;
    --color-chrome-white-800: #415222;
    --color-chrome-white-900: #384621;
    --color-chrome-white-950: #1c260d;
}

body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }